.red-2w31{
    width: 100%;
    margin-top: 1rem;
}
.red-2q31{
    width: 100%;
    height: 19rem;
    border-radius: 0.4444rem;
    background-color: #30363d;
    // border: 1px solid #787d82;
    margin-top: 2rem;
    overflow: hidden;
}
.data-lest{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    .red-2534w{
        width: 20.1111rem;
        height: 14.1111rem;
        background-color: #30363d;
        border-radius: 0.4444rem;
    }
}
.story-section-data{
    .red-2395w{
        display: flex;
        gap:1rem;
        .red-4395w{
            width: 80px;
            height: 80px;
            background-color: #30363d;
            border-radius: 50%;
            margin-top: 15px;
            border: 4px solid #96989a;
        }
    }
}
